body {margin:0;padding:0; overflow-x:; }

            .fillscreen {
                position:relative;
                top:0;
                left:0;
                background:white;
                margin: 0;
                z-index: -1;
            }


             #menu {
                width: 6vw;
                position: absolute;
                padding-top: 0.5%;
                padding-left: 0.5%;
            }
           
            .sidenav {
                height: 100%;       
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: white;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
                font-family: Hind, sans-serif;      
                font-weight: 900;
                box-shadow: inset -10px 0px 10px -7px rgba(0,0,0,0.5);

            }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 30px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

            .sidenav a:hover {
                color: #f1f1f1;
            }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }
      

            #myButton {
                background-color: rgba(255, 255, 255, 0.75);
                border: 2px solid;
                border-color:  rgba(255, 255, 255, 0.1);
                border-radius: 5px;
                color: #009dac;
                text-align: center;
                font-size: 2.5em;
                font-family: Hind;
                z-index: 5;
                position: absolute;
                left: 0; 
                right: 0; 
                margin-left: auto; 
                margin-right: auto; 
                width: 350px; /* Need a specific value to work */
                top: 70%;
                font-weight: 600;
                
                -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
            }
            
            #mybutton:hover {
                transition-duration: 4000;
                background-color: rgba(255, 255, 255, 0.95);        
                transition: background-color 0.2s ease-in,
              color 0.2s ease-in;
            }
           
            #logo {
                padding-top: 1%;
                padding-bottom: 2%;
                width: 25%; display: block; margin: 0 auto;
            }
                   
            #Insta {
                width: 95%;
                height: 100%;
                top: 0; left: 0; bottom: 0; right: 0;
                position: inherit;
                margin: 0 auto;
                z-index: 0;
            }   

            h1 {
                font-size: 2.60vw;
                color: #01a0af;
                font-family: Hind, sans-serif;
                font-weight: bolder;
                text-align: center;
                margin-top: 0%;
                margin-bottom: 0%;
            }

            p {
                font-size: 1.4vw;
                padding-left: 10%;
                padding-right: 10%;
                font-family: Hind, sans-serif;
                text-align: center;
                margin-top: 0.5%;
                margin-bottom: 0.75%;
            }

            a {
                text-decoration: none;
            }  
            
            .float1 {
                z-index: 2;
                background-color: white ;
                -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
                /**    position: absolute; **/
                padding-top: 1%;
                padding-bottom: 1%;
                margin-top: -7.5%; 
                width: 100%;
            }
           
            .cardcontainer {
                z-index: 1;
                width: 100%;
                height: 65vw;
                background-image: url(https://github.com/sehrurban/sehrurban.github.io/blob/master/CMC0024_Carys%20Martin%20Ceramics+One%20Tree%20flyer_FA_Page_2.png?raw=true);
                background-repeat: no-repeat;
                background-size: contain;
                background-color: #01a0af;
                background-position: center;
                
                -moz-box-shadow:    inset  0  15px 15px -15px rgba(0,0,0,0.75), 
                                    inset  0 -15px 15px -15px rgba(0,0,0,0.75);
                -webkit-box-shadow: inset  0  15px 15px -15px rgba(0,0,0,0.75), 
                                    inset  0 -15px 15px -15px rgba(0,0,0,0.75);
                box-shadow:        inset  0  15px 15px -15px rgba(0,0,0,0.75), 
                                   inset  0 -15px 15px -15px rgba(0,0,0,0.75);
                
            }
            
            .float2 {
                z-index: 2;
                background-color: white;
                -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
                padding-top: 1%;
                padding-bottom: 1%;    
            }             

            #footer {
                padding-left: 15%;
                padding-right: 15%;
                text-align:center;
                background-color: #ffffff;
                -moz-box-shadow:    inset  0  15px 15px -15px rgba(0,0,0,0.75); 
                               
                -webkit-box-shadow: inset  0  15px 15px -15px rgba(0,0,0,0.75); 
                                  
                box-shadow:        inset  0  15px 15px -15px rgba(0,0,0,0.75);
                                  
            }
            
            .icon {
               
                width: 7%;
                margin-top: 7.5%;
                margin-bottom: 5%;
                display: inline-block;
                margin-left: 1%;
                margin-right: 1%;
            }
            
            
            h3 {
                font-family: Rokkit, sans-serif;
                font-weight: 500;
                font-size: 1.3vw;
                font-variant: small-caps;
                opacity: 0.25;
                padding-bottom: 2.5%;
            }
            
            h4 {
                font-family: Hind, sans-serif;
                font-weight: 400;
                font-size: 1.3vw;
                font-variant: small-caps;
                opacity: 0.25;
            }
                
         /**   div {
                border: 1px solid;
                border-color: blue;
            } **/
            
            
            @media screen and (orientation: portrait)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
                p {
                    font-size: 3vw;
                    padding-left: 10%;
                    padding-right: 10%;
                    margin-top: 0%;
                }
                
                #menu {
                    width: 16vw;
                }
                
                .Image {
                    height: 100vw;
                    width: 100%; 
                }
                
                #card {
                    width: 100%;
                }
                
                h1 {
                    font-size: 6vw;
                    margin-top: 1.5%;
                    margin-bottom: 1.5%;
                }
                
                #logo {
                    width: 80%;
                    height: auto;
                    padding-top: 4%;
                    padding-bottom: 6%;
                }
                
                .icon {
                    width: 27.5%;
                }
                
                h3 {
                    font-size: 1.5vw;
                }
